// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
// Variables
$primaryColor: #0093aa;
$secondaryColor: #58e2f7;
$tertiaryColor: #ffc32e;
$textColor: #0c0b0b;

// Style
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/1.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60vmax;
}
.costum-nav {
  .navbar-brand {
    span {
      color: $primaryColor;
      font-weight: 700;
      font-size: 1.4rem;
      margin-left: 0.4em;
    }
  }
  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 2.4em;
          transition: 0.3s color ease;

          &:hover {
            color: darken($primaryColor, 30%);
          }
        }
        .home-button {
          background-color: $primaryColor;
          border-color: white;
          color: white;
          border-radius: 2em;
          border: 0;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: -1em;
  }
}
// Custom Section
.custom-section {
  margin-top: 6em;
  h2 {
    font-weight: 700;
    font-size: 4rem;
    color: $primaryColor;
    line-height: 1;
  }
  p {
    color: $primaryColor;
  }
  a {
    border-radius: 2em;
    border: 0;
  }
  a {
    display: inline-block;
    color: white;
    background-color: $secondaryColor;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
  }
}
